<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>

<nav th:replace="~{fragments :: navigation}"></nav>

<form method="post" th:object="${author}">
    <label th:for="${'author.firstName'}">First Name: </label>
    <input th:field="*{firstName}" name="author.firstName">

    <label th:for="${'author.lastName'}">Last Name: </label>
    <input th:field="*{lastName}" name="author.lastName">

    <input type="submit" value="Add Author">
</form>

</body>
</html>