<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>

<nav th:replace="~{fragments :: navigation}"></nav>

<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Genre</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${allGenres}">
        <td th:text="${genre.id}"></td>
        <td th:text="${genre.name}"></td>
    </tr>
    </tbody>
</table>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</body>
</html>