<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>

<nav th:replace="~{fragments :: navigation}"></nav>

<div>
    <form method="post">
        <label th:for="title">Title: </label>
        <input th:field="${book.title}" />

<!--        <label th:for="author">Author First Name: </label>-->
<!--        <input th:field="${author.firstName}">-->

<!--        <label th:for="author">Author Last Name: </label>-->
<!--        <input th:field="${author.lastName}">-->

<!--        TODO: Add new Author Select field to replace above-->

        <label th:for="isbn">ISBN: </label>
        <input th:field="${book.isbn}" />

        <input type="submit" value="Add Book" />
    </form>
</div>

</body>
</html>