<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <title th:text="${title}">Your Library</title>
</head>
<body>

<nav th:fragment="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="add">Add a Book</a></li>
        <li><a href="delete">Delete a Book</a></li>
        <li><a href="author/add">Add an Author</a></li>
    </ul>
</nav>

</body>
</html>